<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <?!= include('src/config/cdn'); ?>
    <?!= include('src/public/css/CSS'); ?>
</head>
<body>
    <div id="root"></div>
</body>
<components style="display: none;">
    <?!= include('src/config/constantesCdn'); ?>
    <?!= include('src/routers/Routes.html'); ?>
    <?!= include('src/helpers/Notifications.html'); ?>
    <?!= include('src/views/Inicio'); ?>
    <?!= include('src/views/usuarios/Usuarios'); ?>
    <?!= include('src/views/formularios/formularioRegistro'); ?>
    <?!= include('src/components/Header'); ?>
    <?!= include('src/views/App.html'); ?>
</components>
</html>