//<script type="text/jsx">

    function Header() {
      return (
        <div className="big-order">
            <h2>Este es Casi un proyecto escolar</h2>
            <div className="orden">
              <NavLink exact activeClassName="correctLink" className="enlace" to="/">Inicio</NavLink>
              <NavLink exact activeClassName="correctLink" className="enlace" to="/formularioRegistro">Formulario Registro</NavLink>
              <NavLink exact activeClassName="correctLink" className="enlace" to="/Usuarios">Usuarios</NavLink>
            </div>
        </div>
      );
    }
    
    
    //</script>